@model List<RentNest.Web.Models.AccommodationIndexViewModel>
@{
	ViewData["Title"] = "Phòng";
}
<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_3.jpg');"
		 data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-end justify-content-start">
			<div class="col-md-9 ftco-animate pb-4">
				<h1 class="mb-3 bread">Phòng</h1>
				<p class="breadcrumbs">
					<span class="mr-2">
						<a href="/Home">
							Trang chủ <i class="ion-ios-arrow-forward"></i>
						</a>
					</span> 
					<span>
						Danh sách các phòng <i class="ion-ios-arrow-forward"></i>
					</span>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-properties" id="properties-section">
	<div class="container-fluid px-md-5">
		<div class="row">
			<div class="col-lg-3 pr-lg-4">
				<div class="search-wrap">
					<h3 class="mb-5">Tìm kiếm</h3>
					<form action="#" class="search-property">
						<div class="row">
							<div class="col-md-12 align-items-end ftco-animate">
								<div class="form-group">
									<label for="#">Từ khóa</label>
									<div class="form-field">
										<div class="icon"><span class="icon-pencil"></span></div>
										<input type="text" class="form-control" placeholder="Từ khóa">
									</div>
								</div>
							</div>
							<div class="col-md-12 align-items-end ftco-animate">
								<div class="form-group">
									<label for="#">Địa chỉ</label>
									<div class="form-field">
										<div class="icon"><span class="icon-pencil"></span></div>
										<input type="text" class="form-control" placeholder="Tên vị trí/địa chỉ">
									</div>
								</div>
							</div>
							<div class="col-md-12 align-items-end ftco-animate">
								<div class="form-group">
									<label for="#">Loại phòng</label>
									<div class="form-field">
										<div class="select-wrap">
											<div class="icon"><span class="ion-ios-arrow-down"></span></div>
											<select name="" id="" class="form-control">
												<option value="">Chọn loại phòng</option>
												<option value="">Phòng trọ giá rẻ</option>
												<option value="">Phòng trọ cao cấp</option>
												<option value="">Nhà nguyên căn</option>
												<option value="">Căn hộ mini</option>
												<option value="">Chung cư</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 align-items-end ftco-animate">
								<div class="form-group">
									<label for="#">Trạng thái phòng</label>
									<div class="form-field">
										<div class="select-wrap">
											<div class="icon"><span class="ion-ios-arrow-down"></span></div>
											<select name="" id="" class="form-control">.
												<option value="">Chọn trạng thái</option>
												<option value="">Cho thuê</option>
												<option value="">Đã thuê</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 align-items-end ftco-animate">
								<div class="form-group">
									<label for="#">Số giường tối thiểu</label>
									<div class="form-field">
										<div class="select-wrap">
											<div class="icon"><span class="ion-ios-arrow-down"></span></div>
											<select name="" id="" class="form-control">
												<option value="">1</option>
												<option value="">2</option>
												<option value="">3</option>
												<option value="">4</option>
												<option value="">5</option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-12 align-items-end ftco-animate">
								<div class="form-group">
									<label for="#">Số phòng tắm tối thiểu</label>
									<div class="form-field">
										<div class="select-wrap">
											<div class="icon"><span class="ion-ios-arrow-down"></span></div>
											<select name="" id="" class="form-control">
												<option value="">1</option>
												<option value="">2</option>
												<option value="">3</option>
												<option value="">4</option>
												<option value="">5</option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-12 align-items-end ftco-animate">
								<div class="form-group">
									<label for="#">Giá thuê tối thiểu</label>
									<div class="form-field">
										<div class="select-wrap">
											<div class="icon"><span class="ion-ios-arrow-down"></span></div>
											<select name="" id="" class="form-control">
												<option value="">Chọn mức giá</option>
												<option value="">1 triệu VNĐ</option>
												<option value="">2 triệu VNĐ</option>
												<option value="">3 triệu VNĐ</option>
												<option value="">5 triệu VNĐ</option>
												<option value="">7 triệu VNĐ</option>
												<option value="">10 triệu VNĐ</option>
												<option value="">15 triệu VNĐ</option>
												<option value="">20 triệu VNĐ</option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-12 align-items-end ftco-animate">
								<div class="form-group">
									<label for="#">Giá thuê tối đa</label>
									<div class="form-field">
										<div class="select-wrap">
											<div class="icon"><span class="ion-ios-arrow-down"></span></div>
											<select name="" id="" class="form-control">
												<option value="">Chọn mức giá</option>
												<option value="">5 triệu VNĐ</option>
												<option value="">10 triệu VNĐ</option>
												<option value="">20 triệu VNĐ</option>
												<option value="">30 triệu VNĐ</option>
												<option value="">50 triệu VNĐ</option>
												<option value="">70 triệu VNĐ</option>
												<option value="">100 triệu VNĐ</option>
												<option value="">200 triệu VNĐ</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 align-items-end ftco-animate">
								<div class="form-group">
									<label for="#">Diện tích tối thiểu <span>(m²)</span></label>
									<div class="form-field">
										<div class="icon"><span class="icon-pencil"></span></div>
										<input type="text" class="form-control" placeholder="Nhập diện tích tối thiểu">
									</div>
								</div>
							</div>

							<div class="col-md-12 align-items-end ftco-animate">
								<div class="form-group">
									<label for="#">Diện tích tối đa <span>(m²)</span></label>
									<div class="form-field">
										<div class="icon"><span class="icon-pencil"></span></div>
										<input type="text" class="form-control" placeholder="Nhập diện tích tối đa">
									</div>
								</div>
							</div>
							<div class="col-md-12 align-self-end ftco-animate">
								<div class="form-group">
									<div class="form-field">
										<input type="submit" value="Tìm kiếm" class="form-control btn btn-primary">
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div><!-- end -->
			        
			<div class="col-lg-9">
				<div class="row">
					@foreach (var item in Model)
					{
						var statusColor = item.Status == "A" ? "bg-primary" : "bg-secondary";
						var statusText = item.Status == "A" ? "Cho thuê" : item.Status == "R" ? "Đã thuê" : "Không hoạt động";

						<div class="col-md-6 col-lg-6">
							<div class="properties ftco-animate">
								<div class="img">
									<img src="@item.ImageUrl" class="img-fluid" alt="@item.Title">
								</div>
								<div class="desc">
									<div class="text @statusColor d-flex text-center align-items-center justify-content-center">
										<span>@statusText</span>
									</div>
									<div class="d-flex pt-5">
										<div>
											<h3>
												<a style="font-family: system-ui;"
												   href="@Url.Action("Detail", "Room", new {id = item.Id })">
													@item.Title
												</a>
											</h3>
										</div>
										<div class="pl-md-4">
											<h4 class="price">@(((item.Price ?? 0) / 1_000_000M).ToString("0.#").Replace('.', ',')) tr/tháng</h4>
										</div>
									</div>
									<p class="h-info"><span class="location">@item.Address</span></p>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
				
				<div class="row mt-5">
					<div class="col text-center">
						<div class="block-27">
							<ul>
								<li><a href="#">&lt;</a></li>
								<li class="active"><span>1</span></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&gt;</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>